:root {
  font-size: 62.5%; /* 1.6rem == 16px */

  --white: hsl(0, 0%, 100%);
  --white-200: hsl(100, 33%, 98%);

  --black: hsl(0, 0%, 0%);
  --gray: hsl(218, 16%, 24%);

  --blue: hsl(216, 100%, 50%);
  --blue-200: hsl(218, 100%, 38%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 1.6rem;
  background-color: var(--white-200);
}

body * {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: var(--black);
  user-select: none;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--black);
}

h3 {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--black);
}

h4 {
  font-size: 2rem;
  font-family: 700;
  color: var(--black);
}

span {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}

p {
  font-size: 2rem;
  font-weight: 400;
  color: var(--gray);
}

a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
a:hover,
a.active {
  color: var(--blue);
}

ul {
  list-style-type: none;
}

.link {
  display: inline-block;

  padding: 0.8rem 2.4rem;
  background-color: var(--blue-200);
  border-radius: 2rem;
  user-select: none;

  color: var(--white);
  font-weight: 600;
}
.link:hover,
.link:focus {
  background-color: var(--blue);
  color: var(--white);
}

.container {
  width: min(124rem, 100%);
  margin-inline: auto;
  padding-inline: 1.6rem;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-200);
  border-radius: 1.2rem;
}

/* =========================================================================== */
/* =================================== NAV =================================== */
/* =========================================================================== */

nav {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;

  width: 100%;
  height: 7rem;
  background-color: var(--white-200);
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 14.2rem;
  user-select: none;
}

#navigation ul {
  position: absolute;
  z-index: 10;
  top: 7rem;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 0;
  border-bottom: 0.1rem solid var(--black);
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#navigation.active ul {
  height: 21rem;
  visibility: visible;
  background-color: var(--white-200);
}

#navigation ul li {
  padding-inline: 1.6rem;
}
#navigation ul li:nth-of-type(5) {
  margin-top: 0.8rem;
  padding-bottom: 1.6rem;
}

#navigation ul li a {
  display: block;
  padding-block: 0.8rem;
  font-size: 1.8rem;
}
#navigation ul li .link {
  display: inline-block;
}

#navigation button {
  display: flex;

  padding: 0.8rem 1.6rem;
  border: none;
  background: none;
}

#hamburger {
  width: 2.5rem;
  border-top: 0.2rem solid var(--black);
}
#hamburger::after,
#hamburger::before {
  content: "";
  position: relative;
  display: block;

  width: 2.5rem;
  height: 0.2rem;
  background: var(--black);
  margin-top: 0.5rem;
  transition: 0.3s all;
}

#navigation.active #hamburger {
  border-top-color: transparent;
}
#navigation.active #hamburger::before {
  transform: rotate(135deg);
}
#navigation.active #hamburger::after {
  transform: rotate(-135deg);
  top: -0.7rem;
}

nav .container > .link {
  display: none;
}

/* =========================================================================== */
/* =================================== NAV =================================== */
/* =========================================================================== */

footer {
  padding: 2.4rem;
}

footer p {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

/* ================================================================================== */
/* =================================== RESPONSIVE =================================== */
/* ================================================================================== */

@media (min-width: 769px) {
  /* ========== NAV ========== */
  nav * {
    visibility: initial;
    overflow-y: initial;
  }

  #navigation button {
    display: none;
  }

  #navigation ul {
    position: initial;
    flex-direction: row;

    /* if has active */
    height: initial !important;
    padding-bottom: 0 !important;
    border-bottom: none;
  }

  #navigation ul li {
    padding-inline: 0.6rem;
  }

  #navigation ul li a {
    padding: 0.8rem;
    font-size: 1.6rem;
  }
  #navigation ul li .link {
    display: none;
  }

  nav .container > .link {
    display: flex;
  }

  #navigation ul li a:hover {
    color: var(--blue-200);
  }
}
