/* ============================================================================== */
/* =================================== BANNER =================================== */
/* ============================================================================== */

.banner {
  padding-block: 15rem 8rem;
  text-align: center;
}

.banner p {
  max-width: 39rem;
  margin-top: 2rem;
  margin-inline: auto;

  font-weight: 700;
  color: var(--black);
}

/* =================================================================================== */
/* =================================== ORGANOGRAMA =================================== */
/* =================================================================================== */

.organograma {
  background-color: var(--white);
  padding-block: 7rem;
}

.organograma .container {
  display: flex;
  justify-content: center;
  align-content: center;
  animation: fadeIn 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.organograma img {
  width: 100%;
}

/* ================================================================================== */
/* =================================== RESPONSIVE =================================== */
/* ================================================================================== */

@media (min-width: 769px) {
  /* ========== ORGANOGRAMA ========== */
  .organograma img {
    width: 65%;
  }
}
